.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: auto; */
}

.links {
  list-style: none;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.links li {
  margin-right: 4em;
}

.nav {
}

.menu-icon {
  display: none;
}

.fimenu {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.fimenu:focus,
.fimenu:active {
  outline: none;
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 850px) {
  .menu-icon {
    display: block;
    border: none;
    outline: none;
  }

  .nav .links {
    display: none;
    flex-direction: column;
    /* background:#e1e1e1; */
    background: rgba(213, 208, 208, 0.9);
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .nav.open .links {
    display: flex;
    /* display on top */
    z-index: 99;
  }

  .links li {
    margin-right: 0em;
  }
}
