.intro-container {
  background-color: #e1e1e1;
  text-align: left; /* Keep text alignment to the left */
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 4%;
  box-shadow: 0px 4px 2.3px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}

.intro-container .content {
  max-width: 800px; /* Keep a manageable max width */
  text-align: left;
  max-width: fit-content;
}
.intro-container h2 {
  font-size: 4rem;
  color: #5632a6;
  margin-bottom: 1rem;
  font-weight: bold;
}

.intro-container p {
  font-size: 3rem;
  color: #333333;
  line-height: 1;
  max-width: 100rem;
}

@media only screen and (max-width: 850px) {
  .intro-container h2 {
    font-size: 3rem;
  }

  .intro-container p {
    font-size: 1.5rem;
  }
}
