.intro-container {
  background: rgba(213, 208, 208, 0.6);
  text-align: left; /* Keep text alignment to the left */
  margin-top: 12%;
  margin-bottom: 20%;
  padding: 4%;
  box-shadow: 0px 4px 2.3px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}

.intro-container .content {
  max-width: 800px; /* Keep a manageable max width */
  text-align: left;
  max-width: fit-content;
}
.intro-container h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: bold;
  background: linear-gradient(to right, #6b047b, #d49b27);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;

}

.intro-container p {
  font-size: 3rem;
  line-height: 1;
  max-width: 100rem;
}

@media only screen and (max-width: 850px) {
  .intro-container h2 {
    font-size: 3rem;
  }

  .intro-container p {
    font-size: 1.5rem;
  }

  .logo h2, 
  .logo-align p,
  .line {
    display: none;
  }
}

.logo-card{
  height: 50%;
  width: 100%;
  color: #FFDE38;
  margin-top: 12%;
}

.logo-align{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto; 
  width: fit-content;
}

.logo-align{
  font-weight: 700; /* Bold */
  font-size: 36px;
  font-style: italic;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 81px;
}

.logo img {
  /* height: 50px;
  width: auto;
  vertical-align: middle; */
  transform: scale(1.5);
}

.logo h2{
  color: #FFDE38;
  font-size: 89px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 4%;
}

.line{
  margin-top: 0;
  width: 970px;
  height: 5px;
  background: #FFDE38;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
}
