.join-container {
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #213862;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 32px;
}

.join-info {
  padding-bottom: 3vh;
  background-color: white;
  padding-top: 8vh;
  padding-bottom: 6vh;
  padding-left: 15vw;
  padding-right: 15vw;
}

.join-info-box {
  background: linear-gradient(0deg, #925fbbb8, #925fbbb8), url(/JoinImage.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 70vw;
  padding-top: 0.5vh;
  padding-bottom: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}

.header-line-break {
  border: 1px solid white;
  width: 262px;
  margin-top: -3vh;
}

.team-info {
  text-align: center;
}

.team-box {
  text-align: left;
  border-radius: 15px;
  width: 60vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 4vh;
}

.team-heading {
  text-align: left;
}

.team-info-header-line-break {
  border: 1px solid white;
  width: 262px;
  margin-bottom: 5vh;
  margin-top: -3vh;
}

.team-header-line-break {
  border: 1px solid white;
  width: 262px;
  margin-top: -3vh;
  margin-left: 0;
}

#red-team-box {
  background-color: #c39a9a;
}

#black-team-box {
  background-color: #8d8d8d;
}

#cv-team-box {
  background-color: #8f9fc9f2;
}

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-left: 29vw;
  padding-right: 29vw;
  background:
    url(/Globe.png) no-repeat right;
    
}

.form-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.form-heading {
  color: #7b4aa3;
  margin-bottom:20px;
}

input,
select {
  width: 100%;
  height: 6vh;
  border: none;
  background-color: #ffffff;
  box-sizing: border-box;
  
  border-radius: 15px;
  font-size: 24px;
  color: black;
  padding-left: 1vw;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}



.full-width{
  grid-column: span 2;
  margin-top: 10px;
}
.small-input {
  
  margin-left: 1vw;
  margin-right: 1vw;
}

.message-box {
  height: 15vh;
}
.submit-button {
  margin-top: 3vh;
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 20%;
  width: 13vw;
  border-radius: 0;
  background: linear-gradient(150deg, #102854, #7b4aa3);
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
